<div class="cover">
	<div class="row">
		<div id="cover-title">
			<h1><%= t(:hello) %></h1>
			<h3><%= t(:slogan) %></h3>
		</div>
	</div>
	<div class="row">
		<div id="features">
			<h3>Web Development</h3>
			<ul class="no-bullet">
				<li><i class="fa fa-code fa-lg"></i>&nbsp;Rails: 2 years</li>
        <li><i class="fa fa-code fa-lg"></i>&nbsp;jQuery: 2 years</li>
        <li><i class="fa fa-code fa-lg"></i>&nbsp;Foundation、Bootstrap</li>
			</ul>
		</div>
	</div>
</div>
<div class="cv show-for-large-up">
	<%= render 'cv_partial_large'%>
</div>
<div class="cv-small hidden-for-large-up">
	<%= render 'cv_partial_small_medium'%>
</div>
<div class="project">
	<div class="project-intro">
    <h1><%= t(:project_man) %></h1>
		<h6 class="right"><%= t(:project_story_1) %></h6>
		<h6><%= t(:project_story_2) %></h6>
		<ul class="orbit-slider" data-orbit data-options="bullets:false;">
      <li data-orbit-slide="headline-1">
          	<img src="<%=asset_path ('1.jpg')%>">
          	<div class="orbit-caption">
            	<h3><%= t(:photo_1_t) %><br/><%= t(:photo_1_d) %></h3>
          </div>
        </li>
        <li data-orbit-slide="headline-2">
            <img src="<%=asset_path ('2.jpg')%>">
            <div class="orbit-caption">
            	<h3><%= t(:photo_2_t) %><br/><%= t(:photo_2_d) %></h3>
          </div>
        </li>
        <li data-orbit-slide="headline-3">
            <img src="<%=asset_path ('3.jpg')%>">
            <div class="orbit-caption">
            	<h3><%= t(:photo_3_t) %>
              <br><%= t(:photo_3_d) %></h3>
          </div>
        </li>
        <li data-orbit-slide="headline-4">
            <img src="<%=asset_path ('4.jpg')%>">
            <div class="orbit-caption">
            <h3><%= t(:photo_4_t) %><br/><%= t(:photo_4_d) %></h3>
          </div>
        </li>
        <li data-orbit-slide="headline-5">
            <img src="<%=asset_path ('5.jpg')%>">
            <div class="orbit-caption">
            <h3><%= t(:photo_5_t) %><br/><%= t(:photo_5_d) %></h3>
          </div>
        </li>
		</ul>
	</div>
</div>
<div class="coding">
	<div class="row">
		<h1 id="coding-title"><%= t('coding_from_zero') %></h1>
	</div>
	<div class="row">
		<div id="coding-intro">
			<p><%= t(:coding_story_1) %></p>
			<p><%= t(:coding_story_2) %></p>
      <p><%= t(:coding_story_3) %></p>
			<div class="portofolio pulse">
        <%= link_to "https://progolflink.nl/", target: "blank" do %>
          <%= image_tag 'pgl_logo.png' %>
        <% end %>
      </div>
      <div class="portofolio pulse">
        <%= link_to "https://innerexile.com/", target: "blank" do %>
          <%= image_tag 'innerexile_logo.png' %>
        <% end %>
			</div>
      <p><%= t(:coding_story_4) %></p>
		</div>
		<div id="octocard"></div>
	</div>
</div>
<!-- <div class="travel-experience show-for-medium-up">
	<div class="row">
		<h1><%= t(:journeys_title) %></h1>
	</div>
	<div class="row">
		<div>
			<h6><%= t(:travel_story) %></h6>
		</div>
	</div>
	<div id="wanderworld-embed">
	</div>
</div> -->
<div class="contact">
	<div class="row">
		<div class="contact-title">
			<h1><%= t(:contact_me) %></h1>
		</div>
	</div>
	<div class="row">
		<div class="about-me-intergration">
			<script src="//about.me/embed/rola.jeffrey"></script>
		</div>
		<div class="contact-method">
			<ul class="no-bullet">
				<li><a href="mailto:jeffrey410469@gmail.com" target="blank" class="email-me-button"><i class="fa fa-envelope-o"></i>&nbsp; Email</a>
				</li>
				<li><span class="phone-number"><i class="fa fa-mobile fa-lg"></i>&nbsp;0975-978-343</span></li>
			</ul>
		</div>
	</div>
	<div class="blockquote">
		<h1><i class="fa fa-quote-left"></i>STAY FOCUS, MOVE FAST, BREAK THINGS<i class="fa fa-quote-right"></i></h1>
	</div>
  <div class="set_language">
  	<ul class="button-group">
  		<li><%= link_to "中文", url_for(params.merge({lang: :zh})), class: "button tiny", title: "中文" %></li>
  		<li><%= link_to "En", url_for(params.merge({lang: :en})), class: "button tiny", title: "English"  %></li>
  	</ul>
  </div>
</div>