<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "黃祺庸" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <script>
      $(function(){ $(document).foundation();});
    </script>
    <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>
    <script>
    $(document).ready(function(){
      if (!isMobile.any()){
        var controller = $.superscrollorama({
            triggerAtCenter: false,
            playoutAnimations: true
          });
      };
      controller.pin($('.cv'), 1300, {
          anim: (new TimelineLite())
            .append(
              TweenMax.fromTo($('#cv-title'), 1, 
                {css:{left: 0, top:-750}, immediateRender:true}, 
                {css:{left:0, top: 0}}),
              -10)
            .append(
              TweenMax.fromTo($('#cv-arrow'), 2, 
                {css:{left: -1280, top:300}, immediateRender:true}, 
                {css:{left:0, top: 300}}),
              -9)
            .append(
              TweenMax.fromTo($('#09'),2,{css:{top:-100,opacity:0},immediateRender:true},{css:{opacity:1}}))
            .append(
              TweenMax.fromTo($('#10'),2,{css:{top:-100,opacity:0},immediateRender:true},{css:{opacity:1}}))
            .append(
              TweenMax.fromTo($('#11'),2,{css:{top:-100,opacity:0},immediateRender:true},{css:{opacity:1}}))
            .append(
              TweenMax.fromTo($('#12'),2,{css:{top:-100,opacity:0},immediateRender:true},{css:{opacity:1}}))
            .append(
              TweenMax.fromTo($('#13'),2,{css:{top:-100,opacity:0},immediateRender:true},{css:{opacity:1}}))
            .append(
              TweenMax.fromTo($('#goes_on h2'),2,{css:{top:-100,opacity:0},immediateRender:true},{css:{opacity:1}}))
          });
      controller.pin($('.coding'),650,{
        anim: (new TimelineLite())
            .append(
              TweenMax.fromTo($('#coding-title'), 0.5, 
                {css:{opacity:0}, immediateRender:true}, 
                {css:{opacity:1}},1))
            .append(
              TweenMax.fromTo($('#coding-intro'),0.5,{css:{opacity:0}, immediateRender:true}, 
                {css:{opacity:1}},1))
            .append(
              TweenMax.fromTo($('#octocard'),0.5,{css:{opacity:0}, immediateRender:true}, 
                {css:{opacity:1}},1))
            .append(
              TweenMax.fromTo($('.portofolio'),0.5,{css:{opacity:0}, immediateRender:true}, 
                {css:{opacity:1}},1))
          })
        });
    </script>
    <script>
      OCTOCARD = {
      name: 'jeffrey410469',
      element: 'octocard',
      reposIgnored: 'reponame1,reponame2',};
    </script>
    <script>
      $(document).foundation({
        orbit: {
          animation: 'slide', // Sets the type of animation used for transitioning between slides, can also be 'fade'
                timer_speed: 10000
                pause_on_hover: false,
                resume_on_mouseout: false,
                animation_speed: 300,
                stack_on_small: false,
                navigation_arrows: true,
                slide_number: false,
                slide_number_text: 'of',
                container_class: 'orbit-container',
                stack_on_small_class: 'orbit-stack-on-small',
                next_class: 'orbit-next',
                prev_class: 'orbit-prev',
                timer_container_class: 'orbit-timer',
                timer_paused_class: 'paused',
                timer_progress_class: 'orbit-progress',
                slides_container_class: 'orbit-slides-container',
                bullets_container_class: 'orbit-bullets',
                slide_selector: 'li',
                bullets_active_class: 'active',
                slide_number_class: 'orbit-slide-number',
                caption_class: 'orbit-caption',
                active_slide_class: 'active',
                orbit_transition_class: 'orbit-transitioning',
                bullets: false,
                circular: true,
                timer: false, 
                variable_height: false, // Does the slider have variable height content?
                swipe: true,
                before_slide_change: noop, // Execute a function before the slide changes
                after_slide_change: noop // Execute a function after the slide changes
        }
      });
    </script>
    <script src="http://nodejs.in/octocard/bin/octocard.js"></script>
    <script type="text/javascript">
      window.___gcfg = {
        lang: 'zh-TW'
      };
    </script>
    <script type="text/javascript">
      gapi.hangout.render('placeholder-div3', {
        'render': 'createhangout',
        'hangout_type': 'normal',
        'initial_apps': [{'app_id' : '184219133185', 'start_data' : 'dQw4w9WgXcQ', 'app_type' : 'ROOM_APP' }],
        'widget_size': 72
      });
    </script>
  </body>
</html>